{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Заявка на расчет времени полета</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
  <div class="container header-bar">
    <a href="/" class="home-button">Домой</a>
  </div>
</header>

<main class="container order-page">
  <h1>Моя заявка на расчет времени полета</h1>  

  <aside class="drone-menu compact-block">
    <img src="{{ dron_img }}" alt="Дрон">

    {% if drone_parameters %}
      {% for param in drone_parameters %}
        <div class="drone-params-row">
          <span>{{ param.label }}</span>
          <input type="number" value="{{ param.value }}">
        </div>
      {% endfor %}
    {% else %}
      <p>Параметры дрона не заданы</p>
    {% endif %}

    <!--<button id="calc-btn" class="calc-button centered-btn">Спрогнозировать время (мин)</button>--->
  </aside>

  <section class="order-items-col">
    {% if order_items %}
      {% for item in order_items %}
      <div class="order-item drone-card">
        <img src="{{ item.service.image }}" alt="{{ item.service.name }}">
        <div class="item-details">
          <p>{{ item.service.name }}</p>
          <p>{{ item.service.description }}</p>
          <p>Множитель мощности: {{ item.service.power_multiplier }}</p>
        </div>
        <div class="runtime-block">
          {% if item.runtime %}
            Время: {{ item.runtime }} мин
          {% endif %}
        </div>
        <button class="trash-icon" title="Удалить">
          <img src="{{ trash }}" alt="Удалить" />
        </button>
      </div>
      {% endfor %}
    {% else %}
      <p>Заявка пуста</p>
    {% endif %}
  </section>

  
  </div>
</main>
<div class="order-actions">
    <form method="POST" action="{% url 'delete_order' order.id %}">
      {% csrf_token %}
      <button class="delete-order-btn">Удалить заявку</button>
    </form>
</body>
</html>
