/* styles.css */
:root {
  --header: #ffffd2;       /* Шапка */
  --background: #ffefdc;   /* Фон страницы */
  --block: #ffffcc;        /* Карточки */
  --text: #000000;         /* Основной текст */
  --border: #999;          /* Граница блоков */
  --button: #4cb050;       /* Цвет кнопок */
  --button-text: #ffffff;  /* Текст на кнопках */
  --header-text: #1F58C8;  /* Текст в хедере и заголовках */
  --hover: #45a049;        /* Цвет при наведении */
  --header-hover: #fb0707; /* Цвет при наведении на текст хедера */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 600;
  background: var(--background);
  color: var(--text);
}

h1 {
  color: var(--header-text);
  font-weight: 500;
  text-align: center;
  margin: 24px 0 16px;
  font-size: 22px;
}

header {
  background: var(--header);
  color: var(--header-text);
  margin-bottom: 10px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-bar a {
  text-decoration: none;
  transition: .2s;
  font-size: 20px;
  font-weight: 500;
  color: var(--header-text);
}

.header-bar a:hover {
  color: var(--header-hover);
}

.order-icon-btn {
  position: fixed;
  top: 50px;
  left: 20px;   
  width: 90px;
  text-align: center;
  z-index: 1000; 
}

.order-icon-btn img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.order-counter {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: bold;
}


.services-search {
  display: flex;
  justify-content: center;
  margin: 16px auto 32px;
}

.services-search form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 700px;
}

.services-search input,
.services-search button {
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid var(--border);
}

.services-search input {
  flex: 1;
  background: var(--background);
  color: var(--text);
}

.services-search button {
  border: none;
  background: var(--button);
  color: var(--button-text);
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
}

.services-search button:hover {
  background: var(--hover);
}

.services-wrapper {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.service-card {
  background: var(--block);
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: .2s;
  width: 100%;
  color: var(--text);
}

.card-image-wrap {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

.card-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.service-title {
  font-weight: bold;
  font-size: 18px;
}

.category {
  font-size: 16px;
  color: var(--text);
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  gap: 10px;

}

.details-btn {
  padding: 8px 14px;
  border-radius: 6px;
  background: var(--button);
  color: var(--button-text);
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  border: none;
  font-size: 15px;
}

.details-btn:hover {
  background: var(--hover);
}

.detail-card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: var(--block);
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--border);
  margin: 10px 10px;
}

.detail-image {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  border-radius: 10px;
  overflow: hidden;
}

.detail-image img {
  width: 100%;
  height: auto;
}

.service-info {
  flex: 2 1 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.compact-block {
  background: var(--block);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 12px 16px;
  max-width: 400px;
  margin: 0 auto 20px;

}

.drone-params-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.drone-menu input {
  width: 80px;
  padding: 4px 6px;
  border: 1px solid var(--border);
  border-radius: 4px;
  text-align: right;
  font-size: 0.9rem;
  background: #ffffff;
  color: var(--text);
  font-weight: 600;
}

.order-items-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 70%;
  margin: 0 auto;
}

.drone-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--block);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.drone-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
.drone-card input{
  width: 50px;
  border-radius: 6px;
  border: 1px solid var(--border);
}
.drone-card label{
  width: 120px;
}
.item-details {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.item-details p {
  width: 130px;
}
.runtime-block {
  min-width: 100px;
  text-align: right;
  background: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
}

.add-btn,
.calc-button {
  padding: 8px 14px;
  border-radius: 6px;
  background: var(--button);
  color: var(--button-text);
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
  border: none;
  font-size: 15px;
}

.add-btn:hover,
.calc-button:hover {
  background: var(--hover);
}

.drone-params-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
}
.drone-params-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-btn {
  padding: 8px 14px;
  border-radius: 6px;
  background: none;
  color: red;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  border: 1px solid red;
  font-size: 15px;
}
.order-page form {
  text-align: center;
}
.delete-btn:hover {
  background: red;
  color: white;
}